<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
            <input name="id" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Ports <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</button></label>
        <div class="col-sm-9">
            <input class="form-control">
            <input class="form-control">
            ...
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Absolute Tolerance</label>
        <div class="col-sm-9">
            <input name="abstol" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Real Tolerance</label>
        <div class="col-sm-9">
            <input name="reltol" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Safety</label>
        <div class="col-sm-9">
            <input name="safety" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Skip Discrete</label>
        <div class="col-sm-9">
            <input name="skipDiscrete" type="checkbox">
        </div>
    </div>
</div>