<div *ngIf="parseError">
	<div class="alert alert-danger alert-big">
		<p>Error: Could not parse config.</p>
		<p>Message: {{parseError}}</p>
		<p>Path: {{path}}</p>
	</div>
</div>

<form *ngIf="config" [formGroup]="form" (ngSubmit)="onSubmit()" #configForm="ngForm">
	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true;loadDiagram()">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>


	<h4>FMUs <button *ngIf="editing" type="button" (click)="addFmu()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></h4>

	<div class="row">
		<div class="col-md-3"><label>Keys</label></div>
		<div class="col-md-8"><label>Paths</label></div>
	</div>

	<div class="row" *ngFor="let fmu of config.fmus; let i=index">
		<div class="col-md-3 form-group">
			<p *ngIf="!editing" class="form-control-static">{{getFmuName(fmu)}}</p>
			<input *ngIf="editing" [formControl]="form.find('fmus').at(i)" [ngModel]="getFmuName(fmu)" (ngModelChange)="setFmuName(fmu, $event)"
				class="form-control input-fixed-size input-sm">
			<div *ngIf="form.find('fmus').at(i).hasError('required')" class="alert alert-danger">This field is required.</div>
			<div *ngIf="form.find('fmus').at(i).hasError('pattern')" class="alert alert-danger">"{" and "}" are not allowed.</div>
			<div *ngIf="form.hasError('notUnique', 'fmus') && form.find('fmus').errors.notUnique == getFmuName(fmu)" class="alert alert-danger">Key is not unique.</div>
		</div>
		<div class="col-md-8 form-group">
			<p *ngIf="!editing" class="form-control-static">{{createDisplayFmuPath(config.fmusRootPath,fmu.path)}}</p>
			<file-browser *ngIf="editing" [basePath]="config.fmusRootPath" [path]="fmu.path" (pathChange)="setFmuPath(fmu, $event)"></file-browser>
			<div *ngIf="fmu.path && fmu.pathNotFound" class="alert alert-danger">Path not found.</div>
			<span *ngIf="!fmu.pathNotFound && !fmu.isSupported()" title="This FMU is only supported on {{fmu.platforms.join(', ')}}."
				class="label label-danger">Not supported</span>
			<span *ngIf="fmu.isSupported()" title="This FMU is supported on {{fmu.platforms.join(', ')}}." class="label label-success">Supported</span>
		</div>
		<div class="col-md-1 form-group">
			<button *ngIf="editing" type="button" (click)="removeFmu(fmu)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>

	<hr>

	<h4>FMU instances</h4>

	<div class="row">
		<div class="col-md-6">
			<label>FMU</label>

			<ul class="list-group">
				<a *ngFor="let fmu of config.fmus" (click)="selectInstanceFmu(fmu)" [class.active]="selectedInstanceFmu === fmu" class="list-group-item">{{fmu.name}}</a>
			</ul>
		</div>
		<div class="col-md-6">
			<label>Instances <button *ngIf="editing" type="button" [disabled]="!selectedInstanceFmu" (click)="addInstance(selectedInstanceFmu)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></label>

			<div *ngIf="selectedInstanceFmu">
				<div *ngFor="let instance of getInstances(selectedInstanceFmu); let i=index">
					<p *ngIf="!editing" class="form-control-static">{{instance.name}}</p>
					<div *ngIf="editing" class="input-group">
						<input [formControl]="getInstanceFormControl(selectedInstanceFmu, i)" [(ngModel)]="instance.name" class="form-control input-sm">
						<span class="input-group-btn">
                            <button type="button" (click)="removeInstance(instance)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
						</span>
					</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i).hasError('required')" class="alert alert-danger">This field is required.</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i).hasError('pattern')" class="alert alert-danger">"." is not allowed.</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i)._parent.hasError('notUnique') && getInstanceFormControl(selectedInstanceFmu, i)._parent.errors.notUnique == instance.name"
						class="alert alert-danger">Key is not unique.</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h4>Connections</h4>

	<div class="row">
		<div class="col-md-3">
			<h5><label>Output instance</label></h5>

			<ul class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectOutputInstance(instance)" [class.active]="selectedOutputInstance === instance"
					class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5><label>Output variable</label></h5>

			<ul *ngIf="selectedOutputInstance" class="list-group">
				<a *ngFor="let output of getOutputs()" (click)="selectOutput(output)" [class.active]="selectedOutput === output" class="list-group-item">
					<span *ngIf="!output.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red" title="Variable is unconfirmed"></span>					{{output.name}}
				</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5><label>Input instance</label></h5>

			<ul *ngIf="selectedOutput" class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectInputInstance(instance)" [class.active]="selectedInputInstance === instance"
					class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5><label>Input variable</label></h5>

			<ul *ngIf="selectedInputInstance" class="list-group">
				<label *ngFor="let input of getInputs()" class="list-group-item">
                    <span *ngIf="!input.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red" title="Variable is unconfirmed"></span>
                    <input type="checkbox"
                           [disabled]="!editing"
                           [checked]="isInputConnected(input)"
                           (change)="onConnectionChange($event.target.checked, input)">
                    {{input.name}}</label>
			</ul>
		</div>
	</div>

	<div class="row">
		<div id="connectionsDiagram" style="border: solid 1px black; width: 100%; height: 600px">

		</div>
	</div>
	<div class="row">
	<textarea id="mySavedModel" style="width:100%;height:300px">
{ "class": "go.GraphLinksModel",
  "nodeCategoryProperty": "type",
  "linkFromPortIdProperty": "frompid",
  "linkToPortIdProperty": "topid",
  "nodeDataArray": [
{"key":1, "type":"Table", "name":"Product"},
{"key":2, "type":"Table", "name":"Sales"},
{"key":3, "type":"Table", "name":"Period"},
{"key":4, "type":"Table", "name":"Store"},
{"key":11, "type":"Join", "name":"Product, Class"},
{"key":12, "type":"Join", "name":"Period"},
{"key":13, "type":"Join", "name":"Store"},
{"key":21, "type":"Project", "name":"Product, Class"},
{"key":31, "type":"Filter", "name":"Boston, Jan2014"},
{"key":32, "type":"Filter", "name":"Boston, 2014"},
{"key":41, "type":"Group", "name":"Sales"},
{"key":42, "type":"Group", "name":"Total Sales"},
{"key":51, "type":"Join", "name":"Product Name"},
{"key":61, "type":"Sort", "name":"Product Name"},
{"key":71, "type":"Export", "name":"File"}
  ],
  "linkDataArray": [
{"from":1, "frompid":"OUT", "to":11, "topid":"L"},
{"from":2, "frompid":"OUT", "to":11, "topid":"R"},
{"from":3, "frompid":"OUT", "to":12, "topid":"R"},
{"from":4, "frompid":"OUT", "to":13, "topid":"R"},
{"from":11, "frompid":"M", "to":12, "topid":"L"},
{"from":12, "frompid":"M", "to":13, "topid":"L"},
{"from":13, "frompid":"M", "to":21},
{"from":21, "frompid":"OUT", "to":31},
{"from":21, "frompid":"OUT", "to":32},
{"from":31, "frompid":"OUT", "to":41},
{"from":32, "frompid":"OUT", "to":42},
{"from":41, "frompid":"OUT", "to":51, "topid":"L"},
{"from":42, "frompid":"OUT", "to":51, "topid":"R"},
{"from":51, "frompid":"OUT", "to":61},
{"from":61, "frompid":"OUT", "to":71}
  ]}
    </textarea>

	</div>

	<hr>

	<h4>Initial values of parameters</h4>

	<div class="row">
		<div class="col-md-3">
			<h5><label>Instance</label></h5>

			<ul class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectParameterInstance(instance)" [class.active]="selectedParameterInstance === instance"
					class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6">
					<h5><label>Parameters</label></h5>
				</div>
				<div *ngIf="selectedParameterInstance && editing" class="col-md-6">
					<div class="input-group">
						<select class="form-control input-sm" [(ngModel)]="newParameter" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let parameter of getParameters(); let i=index" [ngValue]="parameter">{{parameter.name}}</option>
                        </select>
						<span class="input-group-btn">
                            <button type="button" (click)="addParameter()" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-plus"></span> Add
						</button>
						</span>
					</div>
				</div>
			</div>

			<div *ngIf="selectedParameterInstance">
				<div *ngFor="let initialValue of getInitialValues(); let i=index" class="row">
					<div class="col-md-2">
						<p class="form-control-static">
							<span class="label label-info">{{getScalarTypeName(initialValue.scalarVariable.type)}}</span> {{initialValue.scalarVariable.name}}
							<span *ngIf="!initialValue.scalarVariable.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red"
								title="Variable is unconfirmed"></span>
						</p>
					</div>
					<div class="col-md-10">
						<p *ngIf="!editing" class="form-control-static">{{initialValue.value}}</p>
						<div *ngIf="editing" class="input-group">
							<input [value]="initialValue.value" (change)="setParameter(initialValue.scalarVariable, $event.target.value)" class="form-control input-sm">
							<span class="input-group-btn">
                                <button type="button" (click)="removeParameter(selectedParameterInstance, initialValue.scalarVariable)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div *ngIf="warnings.length > 0">
		<strong>Please fix the following issues before saving.</strong>
		<div *ngFor="let warning of warnings" class="alert alert-warning alert-big">{{warning.message}}</div>
		<hr>
	</div>

	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
</form>