<div class="row">
    <div class="col-md-6">
        <label>Outputs</label>
    </div>
    <div class="col-md-6">
        <label>Inputs</label>
    </div>
</div>

<div *ngIf="config">
    <div *ngFor="let output of getOutputs()" class="row">
        <hr>

        <div class="col-md-6">
            <h5>{{output.name}}</h5>
        </div>
        <div class="col-md-6">
            <div *ngFor="let connection of output.connections">
                {{connection.instance.fmu.name}}.{{connection.instance.name}}.{{connection.scalarVariable.name}}
            </div>
        </div>
    </div>
</div>