<form *ngIf="config" [formGroup]="form" (ngSubmit)="onSubmit()" #configForm="ngForm">
    <button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
    <button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-5 col-md-4 control-label">Algorithm</label>
            <div class="col-sm-7 col-md-8">
                <p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.name}}</p>
                <select *ngIf="editing" [ngModel]="config.searchAlgorithm" (ngModelChange)="onAlgorithmChange($event)" [ngModelOptions]="{standalone:true}"
                    class="form-control">
                            <option *ngFor="let algorithm of searchAlgorithms" [ngValue]="algorithm">{{algorithm.name}}</option>
                        </select>
            </div>
        </div>        
        <div *ngIf="config.searchAlgorithm.name == 'Genetic'" [formGroup]="form.find('searchAlgorithm')">
        <hr>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label">Initial population</label>
                    <div class="col-sm-7 col-md-8">
                        <p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.initialPopulation}}</p>
                        <input *ngIf="editing" name="initialPopulation" [(ngModel)]="config.searchAlgorithm.initialPopulation" class="form-control">
                        <div *ngIf="form.find('searchAlgorithm').hasError('required', 'initialPopulation')" class="alert alert-danger">This field is required.</div>
                        <div *ngIf="form.find('searchAlgorithm').hasError('invalidNumber', 'initialPopulation')" class="alert alert-danger">Only numbers are allowed.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label">Search type</label>
                    <div class="col-sm-7 col-md-8">
                        <p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.randomBalanced}}</p>
                        <div *ngIf="editing">
                            <label class="radio-inline">
                                <input type="radio" name="randomBalanced" [(ngModel)]="config.searchAlgorithm.randomBalanced" value="Random">Random 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="randomBalanced" [(ngModel)]="config.searchAlgorithm.randomBalanced" value="Balanced">Balanced 
                            </label>
                            <div *ngIf="form.find('searchAlgorithm').hasError('required', 'randombalanced')" class="alert alert-danger">This field is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 col-md-4 control-label">Termination Rounds</label>
                    <div class="col-sm-7 col-md-8">
                        <p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.terminationRounds}}</p>
                        <input *ngIf="editing" name="terminationRounds" [(ngModel)]="config.searchAlgorithm.terminationRounds" class="form-control">
                        <div *ngIf="form.find('searchAlgorithm').hasError('required', 'terminationRounds')" class="alert alert-danger">This field is required.</div>
                        <div *ngIf="form.find('searchAlgorithm').hasError('invalidNumber', 'terminationRounds')" class="alert alert-danger">Only numbers are allowed.</div>
                    </div>
                </div>
            </div>
        <hr>
        </div>
        
    </div>
</form>