<div *ngIf="parseError">
	<div class="alert alert-danger alert-big">
		<p>Error: Could not parse config.</p>
		<p>Message: {{parseError}}</p>
		<p>Path: {{path}}</p>
	</div>
</div>

<h5> Config </h5>
<form  *ngIf="config" class="form-horizontal" (ngSubmit)="onSubmit()">
	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
      
	<hr>
	
	<h4>DSE Search Algorithm</h4>

    <div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">Search Algorithm</label>
		<div class="col-sm-7 col-md-8">
			<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.getName()}}</p>
			<select *ngIf="editing" [ngModel]="config.searchAlgorithm.getName()" (ngModelChange)="onAlgorithmChange($event)" [ngModelOptions]="{standalone:true}"
					class="form-control">
				<option *ngFor="let algorithm of algorithms" [ngValue]="algorithm">{{algorithm.getName()}}</option>
			</select>
		</div>
	</div>

	<div *ngIf="config.searchAlgorithm.getName() == 'Genetic'">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-5 col-md-4 control-label">Initial population</label>
				<div class="col-sm-7 col-md-8">
					<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.initialPopulation}}</p>
					<input *ngIf="editing" name="initialPopulation" [(ngModel)]="config.searchAlgorithm.initialPopulation" class="form-control">
					</div>
			</div>

			<div class="form-group">
				<label class="col-sm-5 col-md-4 control-label">Random balanced</label>
				<div class="col-sm-7 col-md-8">
					<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.randomBalanced}}</p>
					<input *ngIf="editing" name="randomBalanced" [(ngModel)]="config.searchAlgorithm.randomBalanced" class="form-control">
					</div>
			</div>

			<div class="form-group">
				<label class="col-sm-5 col-md-4 control-label">Termination rounds</label>
				<div class="col-sm-7 col-md-8">
					<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.terminationRounds}}</p>
					<input *ngIf="editing" name="terminationRounds" [(ngModel)]="config.searchAlgorithm.terminationRounds" class="form-control">
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h4>DSE Search Parameters</h4>

	<div class="form-group">
		<label class="col-md-3 control-label">DSE Parameters <button *ngIf="editing" type="button" (click)="addParameter()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Parameter</button></label>
		<div class="col-md-9">
			<div class="row" *ngFor="let p of config.dseParameters">
				<div class ="col-md-5">
					<p *ngIf="!editing" class="form-control-static">{{getParameterName(p)}}</p>
					<input *ngIf="editing" [ngModel]="getParameterName(p)" (ngModelChange)="setParameterName(p, $event)" [ngModelOptions]="{standalone:true}"
						class="form-control input-fixed-size input-sm">
						<button *ngIf="editing" type="button" (click)="addParameterInitialValue(p, '')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Value</button>
				</div>
				<div class ="col-md-4">
					<div class="row" *ngFor="let val of getParameterIntialValues(p)">
						<p *ngIf="!editing" class="form-control-static">{{val}}</p>
						<input *ngIf="editing" [ngModel]="val" (ngModelChange)="setParameterIntialValues(p, val, $event)" [ngModelOptions]="{standalone:true}"
						class="form-control input-fixed-size input-sm">
						<button *ngIf="editing" type="button" (click)="removeParameterInitialValue(p, val)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Value</button>
					</div>
				</div>
				<div class="col-md-1">
					<button *ngIf="editing" type="button" (click)="removeParameter(p)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Parameter</button>
				</div>
			</div>
		</div>
	</div>



	
	<div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">Parameter Constraints <button *ngIf="editing" type="button" (click)="addParameterConstraint()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></label>
		<div class="col-sm-7 col-md-8 ">
			<div class="row" *ngFor="let p of config.paramConst">
				<div clas ="col-md-7">
					<p *ngIf="!editing" class="form-control-static">{{getParameterConstraint(p)}}</p>
					<input *ngIf="editing" [ngModel]="getParameterConstraint(p)" (ngModelChange)="setParameterConstraint(p, $event)" [ngModelOptions]="{standalone:true}"
						class="form-control input-fixed-size input-sm">
				</div>
				<div class="col-md-1">
					<button *ngIf="editing" type="button" (click)="removeParameterConstraint(p)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
		</div>
	</div>


	<hr>

	<h4>DSE Objectives</h4>
	
	<div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">External Scripts<button *ngIf="editing" type="button" (click)="addExternalScript()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button> </label>
	</div>

	<div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">Internal Functions <button *ngIf="editing" type="button" (click)="addinternalFunction()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button> </label>
	</div>

	<div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">Objective Constraints <button *ngIf="editing" type="button" (click)="addObjectiveConstraint()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button> </label>
		<div class="col-sm-7 col-md-8">
			<div class="row" *ngFor="let o of config.objConst">
				<div class="col-md-7">
					<p *ngIf="!editing" class="form-control-static">{{getObjectiveConstraint(o)}}</p>
					<input *ngIf="editing" [ngModel]="getObjectiveConstraint(o)" (ngModelChange)="setObjectiveConstraint(o, $event)" [ngModelOptions]="{standalone:true}"
						class="form-control input-fixed-size input-sm">
				</div>
				<div class="col-md-1">
					<button *ngIf="editing" type="button" (click)="removeObjectiveConstraint(o)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
		</div>
	</div>


	<hr>

	<h4>Ranking</h4>

	<hr>

	<h4>Scenarios </h4>

	<div class="form-group">
		<label class="col-sm-5 col-md-4 control-label">DSE Scenarios <button *ngIf="editing" type="button" (click)="addScenario()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></label>
		<div class="col-sm-7 col-md-8">
			<div class="row" *ngFor="let s of config.scenarios">
				<div class="col-md-7">
					<p *ngIf="!editing" class="form-control-static">{{getScenario(s)}}</p>
					<input *ngIf="editing" [ngModel]="getScenario(s)" (ngModelChange)="setScenario(s, $event)" [ngModelOptions]="{standalone:true}"
						class="form-control input-fixed-size input-sm">
				</div>
				<div class="col-md-1 form-group">
					<button *ngIf="editing" type="button" (click)="removeScenario(s)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
		</div>
	</div>
	
	<hr>



	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
</form>
<form  *ngIf="!config" class="form-horizontal" (ngSubmit)="onSubmit()">
No Config parsed.
</form>