.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

coe select {
    width: 200px !important;
}

coe .input-group {
    display: block;
}

coe .constraint-container {
    display: flex;
    flex-wrap: wrap;
}

coe .constraint-panel {
    width: 45%;
    min-width: 300px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

coe a {
    cursor: pointer;
    color: black;
}
