<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.id}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.id" name="id" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Ports
            <button *ngIf="editing" type="button" (click)="addPort()" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </label>
        <div class="col-sm-9">
            <div *ngFor="let port of constraint.ports; let i=index; trackBy:customTrackBy">
                <p *ngIf="!editing" class="form-control-static">{{port.instance.fmu.name}}.{{port.instance.name}}.{{port.scalarVariable.name}}</p>
                <div *ngIf="editing" class="input-group">
                    <select [(ngModel)]="constraint.ports[i]" name="port{{i}}" class="form-control">
                        <option *ngFor="let output of ports" [ngValue]="output">{{output.instance.fmu.name}}.{{output.instance.name}}.{{output.scalarVariable.name}}</option>
                    </select>
                    <span class="input-group-btn">
                    <button type="button" (click)="removePort(port)" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Absolute Tolerance</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.abstol}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.abstol" name="abstol" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Real Tolerance</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.reltol}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.reltol" name="reltol" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Safety</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.safety}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.safety" name="safety" class="form-control" type="number">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Skip Discrete</label>
        <div class="col-sm-9">
            <input [disabled]="!editing" [(ngModel)]="constraint.skipDiscrete" name="skipDiscrete" type="checkbox">
        </div>
    </div>
</div>